@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background-color: #fafafa;
}
*,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  vertical-align: middle;
}

/* nav part start  */
.nav_bar {
  background-color: #fff;
}
.nav_bar ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #150e06;
  padding: 0 24px !important;
}
.nav_bar ul li a.active {
  color: #7c4ee4 !important;
}
.menu_con img {
  width: 22px;
  margin-left: 24px;
  margin-right: 36px;
}
.menu_con a {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 16px 48px;
  background-color: #7c4ee4;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
/* nav part end */

/* about part start */
#about {
  padding-top: 172px;
  padding-bottom: 161px;
}
.about_head {
  padding-bottom: 123px;
}
.about_head h6 {
  font-size: 16px;
  font-weight: bold;
  color: #666666;
  padding-bottom: 25px;
}
.about_head h1 {
  font-size: 48px;
  font-weight: bold;
  color: #333333;
  padding: 0 200px 24px 200px;
}
.about_head p {
  font-size: 16px;
  font-weight: normal;
  color: #666666;
  font-family: "Roboto", sans-serif;
  padding: 0 20px;
}
.about_img {
  padding-bottom: 100px;
}
.about_txt {
  padding-bottom: 87px;
}
.about_txt h6 {
  font-size: 16px;
  font-weight: bold;
  color: #666666;
  font-family: "Roboto", sans-serif;
  padding-bottom: 32px;
}
.about_txt h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 64px;
  color: #333333;
}
.about_txt p {
  font-size: 16px;
  font-weight: normal;
  color: #666666;
  font-family: "Roboto", sans-serif;
}
.about_inner .card-body {
  padding: 24px 24px 28px 24px;
  transition: 0.05s;
  -webkit-transition: 0.05s;
  -moz-transition: 0.05s;
  -ms-transition: 0.05s;
  -o-transition: 0.05s;
}
.about_inner h3 {
  font-size: 72px;
  font-weight: bold;
  color: #666666;
  padding-bottom: 8px;
  transition: 0.05s;
  font-family: "Roboto", sans-serif;
}
.about_inner .card {
  border: none;
  background-color: transparent;
  transition: 0.05s;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.about_inner h5 {
  font-size: 24px;
  font-weight: bold;
  color: #7c4ee4;
  padding-bottom: 16px;
  margin-bottom: 0;
  transition: 0.05s;
}
.about_inner p {
  font-size: 16px;
  font-weight: normal;
  color: rgba(102, 102, 102, 0.709);
  padding-bottom: 32px;
  padding-right: 30px;
  font-family: "Roboto", sans-serif;
  transition: 0.05s;
}
.about_inner a {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border-bottom: 4px solid #fff;
  font-family: "Roboto", sans-serif;
  scale: 0;
  transition: 0.05s;
}
.about_inner:hover .card {
  background-color: #7c4ee4 !important;
}
.about_inner:hover h3,
.about_inner:hover h5 {
  color: #fff;
}
.about_inner:hover p {
  color: rgba(247, 246, 254, 0.704);
}
.about_inner:hover a {
  scale: 1;
}
/* about part end */

/* subscribe part start */
#subscribe {
  padding-top: 123px;
  padding-bottom: 132px;
  background-color: #7c4ee4;
}
.subs_main h2 {
  font-size: 52px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 48px;
  padding-right: 40px;
}
.subs_main input {
  width: 100%;
  height: 56px;
  padding: 0 23px;
  border-radius: 8px;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #5a7184;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.subs_main input:focus-visible {
  outline: none;
}
.subs_main button {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  padding: 0 32px;
  height: 56px;
  background-color: transparent;
  border-style: none;
  border: 1px solid #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.subs_main form {
  padding-bottom: 24px;
}
.subs_main p {
  font-size: 16px;
  font-weight: normal;
  color: #bbbbbb;
  padding: 0 145px;
}
/* subscribe part end */

/* footer part start  */
footer {
  padding: 54px 0;
}
.footer_body {
  border-bottom: 1px solid #7c4ee4;
}
.footer_body img {
  padding-bottom: 40px;
}
.footer_body ul {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  margin: 0;
}
.footer_body ul li a {
  font-size: 16px;
  font-weight: normal;
  color: #150e06;
}
.socials {
  display: flex;
  justify-content: space-between;
}
.circle {
  position: relative;
  height: 40px;
  width: 40px;
  margin-bottom: 40px;
  background-color: #7c4ee4;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.circle a {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.footer_btm p {
  font-size: 16px;
  font-weight: normal;
  color: #150e06;
  padding-top: 40px;
}
/* footer part end */
