@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background-color: #fafafa;
}
*,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  vertical-align: middle;
}

/* nav part start  */
.nav_bar {
  background-color: #fff;
}
.nav_bar ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #150e06;
  padding: 0 24px !important;
}
.nav_bar ul li a.active {
  color: #7c4ee4 !important;
}
.menu_con img {
  width: 22px;
  margin-left: 24px;
  margin-right: 36px;
}
.menu_con a {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 16px 48px;
  background-color: #7c4ee4;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
/* nav part end */

/* blog part start */
#blog {
  padding-top: 182px;
  padding-bottom: 119px;
}
.blog_high {
  padding-bottom: 33px;
}
.blog_high span {
  font-size: 12px;
  font-weight: 500;
  color: #999999;
  font-family: "Roboto", sans-serif;
}
.blog_high .txt_dev {
  font-weight: bold;
  color: #1e1e1e;
  padding-right: 16px;
}
.blog_head h1 {
  font-size: 48px;
  font-weight: bold;
  color: #333333;
  padding-bottom: 56px;
  padding-right: 3px;
}
.blog_img {
  padding-bottom: 65px;
}
.blog_body {
  padding-bottom: 107px;
}
.blog_body p {
  font-size: 16px;
  font-weight: normal;
  color: #666666;
  font-family: "Roboto", sans-serif;
  padding-right: 50px;
  padding-bottom: 30px;
}
.qoutes {
  padding-left: 76px;
  padding-bottom: 40px;
}
.qoutes p {
  position: relative;
  font-size: 24px;
  font-style: italic;
  line-height: 50px;
  font-family: "Raleway", sans-serif;
  padding-right: 140px;
  padding-bottom: 0;
  margin-bottom: 20px;
}
.qoutes p::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 5px;
  top: 0;
  left: -19px;
  background-color: #7c4ee4;
}
.qoutes span {
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  font-family: "Roboto", sans-serif;
}
.blog_bogy_img {
  padding-top: 10px;
  padding-bottom: 40px;
}
.blog_post_head {
  padding-bottom: 58px;
}
.blog_post_head h2 {
  font-size: 48px;
  font-weight: bold;
  color: #333333;
}
.blog_post_head a {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  font-family: "Roboto", sans-serif;
  padding: 16px 48px;
  border-radius: 8px;
  background-color: #7c4ee4;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.blog_post img {
  padding-bottom: 42px;
}
.blog_post .card {
  border: none;
  background-color: transparent;
}
.blog_post .card-body {
  padding: 0;
}
.blog_post h6 {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  color: #999999;
  font-family: "Roboto", sans-serif;
  padding-bottom: 14px;
}
.blog_post .head_B {
  font-weight: bold;
  color: #333333;
  padding-right: 10px;
}
.blog_post h5 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  padding-bottom: 7px;
}
.blog_post p {
  font-size: 16px;
  font-weight: normal;
  color: #666666;
  padding-bottom: 19px;
  font-family: "Roboto", sans-serif;
}
.blog_post a {
  font-size: 18px;
  font-weight: bold;
  color: #7c4ee4;
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
}
/* blog part end */

/* subscribe part start */
#subscribe {
  padding-top: 123px;
  padding-bottom: 132px;
  background-color: #7c4ee4;
}
.subs_main h2 {
  font-size: 52px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 48px;
  padding-right: 40px;
}
.subs_main input {
  width: 100%;
  height: 56px;
  padding: 0 23px;
  border-radius: 8px;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #5a7184;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.subs_main input:focus-visible {
  outline: none;
}
.subs_main button {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  padding: 0 32px;
  height: 56px;
  background-color: transparent;
  border-style: none;
  border: 1px solid #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.subs_main form {
  padding-bottom: 24px;
}
.subs_main p {
  font-size: 16px;
  font-weight: normal;
  color: #bbbbbb;
  padding: 0 145px;
}
/* subscribe part end */

/* footer part start  */
footer {
  padding: 54px 0;
}
.footer_body {
  border-bottom: 1px solid #7c4ee4;
}
.footer_body img {
  padding-bottom: 40px;
}
.footer_body ul {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  margin: 0;
}
.footer_body ul li a {
  font-size: 16px;
  font-weight: normal;
  color: #150e06;
}
.socials {
  display: flex;
  justify-content: space-between;
}
.circle {
  position: relative;
  height: 40px;
  width: 40px;
  margin-bottom: 40px;
  background-color: #7c4ee4;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.circle a {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.footer_btm p {
  font-size: 16px;
  font-weight: normal;
  color: #150e06;
  padding-top: 40px;
}
/* footer part end */
