/* for xs devices */
@media (max-width: 575px) {
  /* nav part start  */
  .nav_logo img {
    width: 80%;
  }
  .nav_bar i {
    color: #7c4ee4;
    font-size: 20px;
  }
  .navbar-toggler {
    color: transparent;
    border: 2px solid #7c4ee4;
  }

  .nav_bar ul {
    text-align: end;
  }
  .nav_bar ul li a {
    display: inline-block;
    padding: 10px 0 !important;
  }
  .menu_con {
    text-align: end;
  }
  .menu_con img {
    width: 0;
  }
  .menu_con a {
    padding: 10px 20px;
  }
  /* nav part end */

  /* blog part start */
  #blog {
    padding-top: 100px;
    padding-bottom: 80px;
  }
  .blog_high {
    padding-bottom: 20px;
  }
  .blog_high span {
    font-size: 10px;
  }
  .blog_high .txt_dev {
    padding-right: 10px;
  }
  .blog_head h1 {
    font-size: 30px;
    padding-bottom: 30px;
    padding-right: 0;
  }
  .blog_img {
    padding-bottom: 40px;
  }
  .blog_body {
    padding-bottom: 40px;
  }
  .blog_body p {
    font-size: 14px;
    padding-right: 0;
    padding-bottom: 20px;
  }
  .qoutes {
    padding-left: 50px;
    padding-bottom: 20px;
  }
  .qoutes p {
    font-size: 18px;
    line-height: 30px;
    padding-right: 40px;
    padding-bottom: 0;
    margin-bottom: 10px;
  }
  .qoutes p::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 4px;
    top: 0;
    left: -19px;
    background-color: #7c4ee4;
  }
  .qoutes span {
    font-size: 14px;
  }
  .blog_bogy_img {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .blog_post_head {
    padding-bottom: 30px;
  }
  .blog_post_head h2 {
    font-size: 30px;
  }
  .blog_post_head a {
    font-size: 14px;
    padding: 14px 30px;
  }
  .blog_post img {
    padding-bottom: 20px;
  }

  .blog_post h6 {
    font-size: 10px;
    padding-bottom: 10px;
  }

  .blog_post h5 {
    font-size: 18px;
  }
  .blog_post p {
    font-size: 14px;
    padding-bottom: 15px;
  }
  .blog_post a {
    font-size: 14px;
  }
  /* blog part end */

  /* subscribe part start */
  #subscribe {
    padding: 50px 0;
  }
  .subs_main h2 {
    font-size: 30px;
    padding-bottom: 48px;
    padding-right: 0;
  }
  .subs_main input {
    height: 40px;
    padding: 0 16px;
    font-size: 14px;
  }
  .subs_main button {
    font-size: 14px;
    padding: 0 16px;
    height: 40px;
  }
  .subs_main p {
    font-size: 14px;
    padding: 0;
  }

  /* subscribe part end */

  /* footer part start  */
  footer {
    padding: 30px 0;
  }
  .footer_body img {
    padding-bottom: 30px;
  }
  .footer_body ul {
    padding-bottom: 20px;
  }
  .footer_body ul li a {
    font-size: 14px;
  }
  .circle {
    height: 30px;
    width: 30px;
    margin-bottom: 20px;
  }
  .circle a {
    font-size: 12px;
  }
  .footer_btm p {
    font-size: 14px;
  }
  /* footer part end  */
}
/* for xs devices */

/* for sm devices */
@media (min-width: 576px) and (max-width: 767px) {
  /* nav part start  */
  .nav_logo img {
    width: 80%;
  }
  .nav_bar i {
    color: #7c4ee4;
    font-size: 20px;
  }
  .navbar-toggler {
    color: transparent;
    border: 2px solid #7c4ee4;
  }

  .nav_bar ul {
    text-align: end;
  }
  .nav_bar ul li a {
    display: inline-block;
    padding: 10px 0 !important;
  }
  .menu_con {
    text-align: end;
  }
  .menu_con img {
    width: 0;
  }
  .menu_con a {
    padding: 10px 20px;
  }
  /* nav part end */

  /* blog part start */
  #blog {
    padding-top: 100px;
    padding-bottom: 80px;
  }
  .blog_high {
    padding-bottom: 20px;
  }
  .blog_high span {
    font-size: 10px;
  }
  .blog_high .txt_dev {
    padding-right: 10px;
  }
  .blog_head h1 {
    font-size: 30px;
    padding-bottom: 30px;
    padding-right: 0;
  }
  .blog_img {
    padding-bottom: 40px;
  }
  .blog_body {
    padding-bottom: 40px;
  }
  .blog_body p {
    font-size: 14px;
    padding-right: 0;
    padding-bottom: 20px;
  }
  .qoutes {
    padding-left: 50px;
    padding-bottom: 20px;
  }
  .qoutes p {
    font-size: 18px;
    line-height: 30px;
    padding-right: 40px;
    padding-bottom: 0;
    margin-bottom: 10px;
  }
  .qoutes p::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 4px;
    top: 0;
    left: -19px;
    background-color: #7c4ee4;
  }
  .qoutes span {
    font-size: 14px;
  }
  .blog_bogy_img {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .blog_post_head {
    padding-bottom: 30px;
  }
  .blog_post_head h2 {
    font-size: 30px;
  }
  .blog_post_head a {
    font-size: 14px;
    padding: 14px 30px;
  }
  .blog_post img {
    padding-bottom: 20px;
  }

  .blog_post h6 {
    font-size: 10px;
    padding-bottom: 10px;
  }

  .blog_post h5 {
    font-size: 18px;
  }
  .blog_post p {
    font-size: 14px;
    padding-bottom: 15px;
  }
  .blog_post a {
    font-size: 14px;
  }
  /* blog part end */

  /* subscribe part start */
  #subscribe {
    padding: 50px 0;
  }
  .subs_main h2 {
    font-size: 30px;
    padding-bottom: 48px;
    padding-right: 0;
  }
  .subs_main input {
    height: 40px;
    padding: 0 16px;
    font-size: 14px;
  }
  .subs_main button {
    font-size: 14px;
    padding: 0 16px;
    height: 40px;
  }
  .subs_main p {
    font-size: 14px;
    padding: 0;
  }

  /* subscribe part end */

  /* footer part start  */
  footer {
    padding: 30px 0;
  }
  .footer_body img {
    padding-bottom: 30px;
  }
  .footer_body ul {
    padding-bottom: 20px;
  }
  .footer_body ul li a {
    font-size: 14px;
  }
  .circle {
    height: 30px;
    width: 30px;
    margin-bottom: 20px;
  }
  .circle a {
    font-size: 12px;
  }
  .footer_btm p {
    font-size: 14px;
  }
  /* footer part end  */
}
/* for sm devices */

/* for md devices */
@media (min-width: 768px) and (max-width: 991px) {
  /* nav part start  */
  .nav_bar i {
    color: #7c4ee4;
    font-size: 24px;
  }
  .navbar-toggler {
    color: transparent;
    border: 2px solid #7c4ee4;
  }

  .nav_bar ul {
    text-align: end;
  }
  .nav_bar ul li a {
    display: inline-block;
    padding: 10px 0 !important;
  }
  .menu_con {
    text-align: end;
  }
  .menu_con img {
    width: 0;
  }
  .menu_con a {
    padding: 14px 30px;
  }
  /* nav part end */

  /* blog part start */
  #blog {
    padding-top: 100px;
    padding-bottom: 80px;
  }
  .blog_high {
    padding-bottom: 20px;
  }
  .blog_high span {
    font-size: 10px;
  }
  .blog_high .txt_dev {
    padding-right: 10px;
  }
  .blog_head h1 {
    font-size: 30px;
    padding-bottom: 30px;
    padding-right: 0;
  }
  .blog_img {
    padding-bottom: 40px;
  }
  .blog_body {
    padding-bottom: 40px;
  }
  .blog_body p {
    font-size: 14px;
    padding-right: 0;
    padding-bottom: 20px;
  }
  .qoutes {
    padding-left: 50px;
    padding-bottom: 20px;
  }
  .qoutes p {
    font-size: 18px;
    line-height: 30px;
    padding-right: 40px;
    padding-bottom: 0;
    margin-bottom: 10px;
  }
  .qoutes p::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 4px;
    top: 0;
    left: -19px;
    background-color: #7c4ee4;
  }
  .qoutes span {
    font-size: 14px;
  }
  .blog_bogy_img {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .blog_post_head {
    padding-bottom: 30px;
  }
  .blog_post_head h2 {
    font-size: 30px;
  }
  .blog_post_head a {
    font-size: 14px;
    padding: 14px 30px;
  }
  .blog_post img {
    padding-bottom: 20px;
  }

  .blog_post h6 {
    font-size: 10px;
    padding-bottom: 10px;
  }

  .blog_post h5 {
    font-size: 18px;
  }
  .blog_post p {
    font-size: 14px;
    padding-bottom: 15px;
  }
  .blog_post a {
    font-size: 14px;
  }
  /* blog part end */

  /* subscribe part start */
  #subscribe {
    padding: 50px 0;
  }
  .subs_main h2 {
    font-size: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
  }
  .subs_main input {
    height: 40px;
    padding: 0 16px;
    font-size: 14px;
  }
  .subs_main button {
    font-size: 14px;
    padding: 0 16px;
    height: 40px;
  }
  .subs_main p {
    font-size: 14px;
    padding: 0;
  }

  /* subscribe part end */

  /* footer part start  */
  footer {
    padding: 30px 0;
  }
  .footer_body img {
    padding-bottom: 30px;
  }
  .footer_body ul {
    padding-bottom: 20px;
  }
  .footer_body ul li a {
    font-size: 14px;
  }
  .circle {
    height: 30px;
    width: 30px;
    margin-bottom: 20px;
  }
  .circle a {
    font-size: 12px;
  }
  .footer_btm p {
    font-size: 14px;
  }
  /* footer part end  */
}
/* for md devices */

/* for lg devices */
@media (min-width: 992px) and (max-width: 1199px) {
  /* nav part start  */

  .menu_con a {
    padding: 14px 30px;
  }
  /* nav part end */

  /* blog part start */
  #blog {
    padding-top: 150px;
    padding-bottom: 100px;
  }
  .blog_high {
    padding-bottom: 20px;
  }
  .blog_high span {
    font-size: 12px;
  }
  .blog_high .txt_dev {
    padding-right: 10px;
  }
  .blog_head h1 {
    font-size: 40px;
    padding-bottom: 30px;
    padding-right: 0;
  }
  .blog_img {
    padding-bottom: 40px;
  }
  .blog_body {
    padding-bottom: 40px;
  }
  .blog_body p {
    font-size: 16px;
    padding-right: 0;
    padding-bottom: 20px;
  }

  .blog_bogy_img {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .blog_post_head {
    padding-bottom: 30px;
  }
  .blog_post_head h2 {
    font-size: 30px;
  }
  .blog_post_head a {
    font-size: 14px;
    padding: 14px 30px;
  }
  .blog_post img {
    padding-bottom: 20px;
  }

  .blog_post h6 {
    font-size: 10px;
    padding-bottom: 10px;
  }

  .blog_post h5 {
    font-size: 18px;
  }
  .blog_post p {
    font-size: 14px;
    padding-bottom: 15px;
  }
  .blog_post a {
    font-size: 14px;
  }
  /* blog part end */

  /* subscribe part start */
  #subscribe {
    padding: 50px 0;
  }
  .subs_main h2 {
    font-size: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
  }
  .subs_main input {
    height: 40px;
    padding: 0 16px;
    font-size: 14px;
  }
  .subs_main button {
    font-size: 14px;
    padding: 0 16px;
    height: 40px;
  }
  .subs_main p {
    font-size: 14px;
    padding: 0;
  }
  /* subscribe part end */

  /* footer part start  */
  footer {
    padding: 50px 0;
  }

  .footer_body ul {
    padding-bottom: 20px;
  }
  .footer_body ul li a {
    font-size: 14px;
  }
  .circle {
    height: 30px;
    width: 30px;
    margin-bottom: 20px;
  }
  .circle a {
    font-size: 12px;
  }
  .footer_btm p {
    font-size: 16px;
  }
  /* footer part end  */
}
/* for lg devices */

/* for xl devices */
@media (min-width: 1200px) and (max-width: 1399px) {
  /* blog part start */
  #blog {
    padding-top: 150px;
    padding-bottom: 100px;
  }

  .blog_post img {
    padding-bottom: 20px;
  }

  /* blog part end */

  /* subscribe part start */
  #subscribe {
    padding: 100px 0;
  }
  .subs_main h2 {
    font-size: 40px;
    padding-bottom: 40px;
    padding-right: 50px;
  }
  .subs_main input {
    height: 50px;
    padding: 0 16px;
    font-size: 14px;
  }
  .subs_main button {
    font-size: 16px;
    padding: 0 20px;
    height: 50px;
  }
  .subs_main p {
    font-size: 16px;
  }
  /* subscribe part end */

  /* footer part start  */
  footer {
    padding: 50px 0;
  }

  .footer_body ul {
    padding-bottom: 20px;
  }
  .footer_body ul li a {
    font-size: 16px;
  }
  .circle {
    height: 40px;
    width: 40px;
    margin-bottom: 20px;
  }
  .circle a {
    font-size: 14px;
  }
  .footer_btm p {
    font-size: 16px;
  }
  /* footer part end  */
}
/* for xl devices */
