/* for xs devices */
@media (max-width: 575px) {
  /* nav part start  */
  .nav_logo img {
    width: 80%;
  }
  .nav_bar i {
    color: #7c4ee4;
    font-size: 20px;
  }
  .navbar-toggler {
    color: transparent;
    border: 2px solid #7c4ee4;
  }

  .nav_bar ul {
    text-align: end;
  }
  .nav_bar ul li a {
    display: inline-block;
    padding: 10px 0 !important;
  }
  .menu_con {
    text-align: end;
  }
  .menu_con img {
    width: 0;
  }
  .menu_con a {
    padding: 10px 20px;
  }
  /* nav part end */

  /* banner part start  */
  #banner {
    padding-top: 100px;
    padding-bottom: 98px;
  }
  .ban_main h1 {
    font-size: 40px;
    line-height: 50px;
    padding-right: 0;
  }
  .ban_main p {
    font-size: 14px;
    padding-bottom: 30px;
    padding-right: 0;
  }
  .ban_main a {
    font-size: 14px;
    padding: 16px 24px;
    margin-bottom: 50px;
  }
  /* banner part end */

  /* blog highlight part start */
  #blog_highL {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .ban_highL_img {
    position: static;
  }
  .ban_highL_body {
    position: static;
    margin-top: 30px;
  }
  .blog_highLtxt {
    padding: 20px;
  }
  .blog_hightxt_head {
    padding-bottom: 10px;
  }
  .blog_hightxt_head span {
    font-size: 10px;
    font-weight: normal;
  }
  .blog_hightxt_head .txt_dev {
    font-weight: 500;
  }
  .blog_highLtxt h2 {
    font-size: 20px;
    line-height: 30px;
    padding-right: 0;
    padding-bottom: 7px;
  }
  .blog_highLtxt p {
    font-size: 14px;
    padding-bottom: 20px;
    padding-right: 0;
  }
  .blog_highLtxt a {
    padding: 10px 24px;
  }
  /* blog highlight part end */

  /* blog part start */
  #blog {
    padding-bottom: 50px;
  }
  .blog_head {
    padding-bottom: 30px;
  }
  .blog_head h2 {
    font-size: 30px;
  }
  .blog_head a {
    padding: 14px 24px;
  }
  .blog_main_txt {
    padding-left: 16px;
  }
  .blog_main {
    padding-bottom: 40px;
  }
  .blog_main h6 {
    padding-top: 14px;
    padding-bottom: 10px;
  }
  .blog_main h3 {
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 13px;
  }
  .blog_main p {
    font-size: 14px;

    padding-bottom: 30px;
  }
  .blog_main a {
    padding: 10px 22px;
  }
  .blog_body {
    padding-bottom: 50px;
  }
  .blog_body img {
    padding-bottom: 20px;
  }
  .blog_body h6 {
    font-size: 10px;
    padding-bottom: 10px;
  }
  .blog_body h5 {
    font-size: 18px;
    padding-bottom: 7px;
  }
  .blog_body p {
    font-size: 14px;
    padding-bottom: 10px;
  }
  .blog_body a {
    font-size: 14px;
  }
  /* blog part end */

  /* subscribe part start */
  #subscribe {
    padding: 50px 0;
  }
  .subs_main h2 {
    font-size: 30px;
    padding-bottom: 48px;
    padding-right: 0;
  }
  .subs_main input {
    height: 40px;
    padding: 0 16px;
    font-size: 14px;
  }
  .subs_main button {
    font-size: 14px;
    padding: 0 16px;
    height: 40px;
  }
  .subs_main p {
    font-size: 14px;
    padding: 0;
  }

  /* subscribe part end */

  /* footer part start  */
  footer {
    padding: 30px 0;
  }
  .footer_body img {
    padding-bottom: 30px;
  }
  .footer_body ul {
    padding-bottom: 20px;
  }
  .footer_body ul li a {
    font-size: 14px;
  }
  .circle {
    height: 30px;
    width: 30px;
    margin-bottom: 20px;
  }
  .circle a {
    font-size: 12px;
  }
  .footer_btm p {
    font-size: 14px;
  }
  /* footer part end  */
}
/* for xs devices */

/* for sm devices */
@media (min-width: 576px) and (max-width: 767px) {
  /* nav part start  */
  .nav_logo img {
    width: 80%;
  }
  .nav_bar i {
    color: #7c4ee4;
    font-size: 20px;
  }
  .navbar-toggler {
    color: transparent;
    border: 2px solid #7c4ee4;
  }

  .nav_bar ul {
    text-align: end;
  }
  .nav_bar ul li a {
    display: inline-block;
    padding: 10px 0 !important;
  }
  .menu_con {
    text-align: end;
  }
  .menu_con img {
    width: 0;
  }
  .menu_con a {
    padding: 10px 20px;
  }
  /* nav part end */

  /* banner part start  */
  #banner {
    padding-top: 100px;
    padding-bottom: 98px;
  }
  .ban_main h1 {
    font-size: 40px;
    line-height: 50px;
    padding-right: 0;
  }
  .ban_main p {
    font-size: 14px;
    padding-bottom: 30px;
    padding-right: 0;
  }
  .ban_main a {
    font-size: 14px;
    padding: 16px 24px;
    margin-bottom: 50px;
  }
  /* banner part end */

  /* blog highlight part start */
  #blog_highL {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .ban_highL_img {
    position: static;
  }
  .ban_highL_body {
    position: static;
    margin-top: 30px;
  }
  .blog_highLtxt {
    padding: 20px;
  }
  .blog_hightxt_head {
    padding-bottom: 10px;
  }
  .blog_hightxt_head span {
    font-size: 10px;
    font-weight: normal;
  }
  .blog_hightxt_head .txt_dev {
    font-weight: 500;
  }
  .blog_highLtxt h2 {
    font-size: 20px;
    line-height: 30px;
    padding-right: 0;
    padding-bottom: 7px;
  }
  .blog_highLtxt p {
    font-size: 14px;
    padding-bottom: 20px;
    padding-right: 0;
  }
  .blog_highLtxt a {
    padding: 10px 24px;
  }
  /* blog highlight part end */

  /* blog part start */
  #blog {
    padding-bottom: 50px;
  }
  .blog_head {
    padding-bottom: 30px;
  }
  .blog_head h2 {
    font-size: 30px;
  }
  .blog_head a {
    padding: 14px 24px;
  }
  .blog_main_txt {
    padding-left: 16px;
  }
  .blog_main {
    padding-bottom: 40px;
  }
  .blog_main h6 {
    padding-top: 14px;
    padding-bottom: 10px;
  }
  .blog_main h3 {
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 13px;
  }
  .blog_main p {
    font-size: 14px;

    padding-bottom: 30px;
  }
  .blog_main a {
    padding: 10px 22px;
  }
  .blog_body {
    padding-bottom: 50px;
  }
  .blog_body img {
    padding-bottom: 20px;
  }
  .blog_body h6 {
    font-size: 10px;
    padding-bottom: 10px;
  }
  .blog_body h5 {
    font-size: 18px;
    padding-bottom: 7px;
  }
  .blog_body p {
    font-size: 14px;
    padding-bottom: 10px;
  }
  .blog_body a {
    font-size: 16px;
  }
  /* blog part end */

  /* subscribe part start */
  #subscribe {
    padding: 50px 0;
  }
  .subs_main h2 {
    font-size: 30px;
    padding-bottom: 48px;
    padding-right: 0;
  }
  .subs_main input {
    height: 40px;
    padding: 0 16px;
    font-size: 14px;
  }
  .subs_main button {
    font-size: 14px;
    padding: 0 16px;
    height: 40px;
  }
  .subs_main p {
    font-size: 14px;
    padding: 0;
  }

  /* subscribe part end */

  /* footer part start  */
  footer {
    padding: 30px 0;
  }
  .footer_body img {
    padding-bottom: 30px;
  }
  .footer_body ul {
    padding-bottom: 20px;
  }
  .footer_body ul li a {
    font-size: 14px;
  }
  .circle {
    height: 30px;
    width: 30px;
    margin-bottom: 20px;
  }
  .circle a {
    font-size: 12px;
  }
  .footer_btm p {
    font-size: 14px;
  }
  /* footer part end  */
}
/* for sm devices */

/* for md devices */
@media (min-width: 768px) and (max-width: 991px) {
  /* nav part start  */
  .nav_bar i {
    color: #7c4ee4;
    font-size: 24px;
  }
  .navbar-toggler {
    color: transparent;
    border: 2px solid #7c4ee4;
  }

  .nav_bar ul {
    text-align: end;
  }
  .nav_bar ul li a {
    display: inline-block;
    padding: 10px 0 !important;
  }
  .menu_con {
    text-align: end;
  }
  .menu_con img {
    width: 0;
  }
  .menu_con a {
    padding: 14px 30px;
  }
  /* nav part end */

  /* banner part start  */
  #banner {
    padding-top: 100px;
    padding-bottom: 98px;
  }
  .ban_main h1 {
    font-size: 40px;
    line-height: 50px;
    padding-right: 0;
  }
  .ban_main p {
    font-size: 14px;
    padding-bottom: 30px;
    padding-right: 0;
  }
  .ban_main a {
    font-size: 14px;
    padding: 16px 30px;
    margin-bottom: 50px;
  }
  /* banner part end */

  /* blog highlight part start */
  #blog_highL {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .ban_highL_img {
    position: static;
  }
  .ban_highL_body {
    position: static;
    margin-top: 30px;
  }
  .blog_highLtxt {
    padding: 20px;
  }
  .blog_hightxt_head {
    padding-bottom: 10px;
  }
  .blog_hightxt_head span {
    font-size: 10px;
    font-weight: normal;
  }
  .blog_hightxt_head .txt_dev {
    font-weight: 500;
  }
  .blog_highLtxt h2 {
    font-size: 20px;
    line-height: 30px;
    padding-right: 0;
    padding-bottom: 7px;
  }
  .blog_highLtxt p {
    font-size: 14px;
    padding-bottom: 20px;
    padding-right: 0;
  }
  .blog_highLtxt a {
    padding: 10px 24px;
  }
  /* blog highlight part end */

  /* blog part start */
  #blog {
    padding-bottom: 50px;
  }
  .blog_head {
    padding-bottom: 30px;
  }
  .blog_head h2 {
    font-size: 30px;
  }
  .blog_head a {
    padding: 16px 30px;
  }
  .blog_main_txt {
    padding-left: 16px;
  }
  .blog_main {
    padding-bottom: 40px;
  }
  .blog_main h6 {
    padding-top: 14px;
    padding-bottom: 10px;
  }
  .blog_main h3 {
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 13px;
  }
  .blog_main p {
    font-size: 14px;

    padding-bottom: 30px;
  }
  .blog_main a {
    padding: 10px 22px;
  }
  .blog_body {
    padding-bottom: 50px;
  }
  .blog_body img {
    padding-bottom: 20px;
  }
  .blog_body h6 {
    font-size: 10px;
    padding-bottom: 10px;
  }
  .blog_body h5 {
    font-size: 18px;
    padding-bottom: 7px;
  }
  .blog_body p {
    font-size: 14px;
    padding-bottom: 10px;
  }
  .blog_body a {
    font-size: 16px;
  }
  /* blog part end */

  /* subscribe part start */
  #subscribe {
    padding: 50px 0;
  }
  .subs_main h2 {
    font-size: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
  }
  .subs_main input {
    height: 40px;
    padding: 0 16px;
    font-size: 14px;
  }
  .subs_main button {
    font-size: 14px;
    padding: 0 16px;
    height: 40px;
  }
  .subs_main p {
    font-size: 14px;
    padding: 0;
  }

  /* subscribe part end */

  /* footer part start  */
  footer {
    padding: 30px 0;
  }
  .footer_body img {
    padding-bottom: 30px;
  }
  .footer_body ul {
    padding-bottom: 20px;
  }
  .footer_body ul li a {
    font-size: 14px;
  }
  .circle {
    height: 30px;
    width: 30px;
    margin-bottom: 20px;
  }
  .circle a {
    font-size: 12px;
  }
  .footer_btm p {
    font-size: 14px;
  }
  /* footer part end  */
}
/* for md devices */

/* for lg devices */
@media (min-width: 992px) and (max-width: 1199px) {
  /* nav part start  */

  .menu_con a {
    padding: 14px 30px;
  }
  /* nav part end */

  /* banner part start  */
  #banner {
    padding-top: 150px;
    padding-bottom: 98px;
  }
  .ban_main h1 {
    font-size: 45px;
    line-height: 60px;
  }
  .ban_main p {
  }
  .ban_main a {
    font-size: 16px;
    margin-bottom: 50px;
  }
  /* banner part end */

  /* blog highlight part start */
  #blog_highL {
    padding-top: 100px;
    padding-bottom: 200px;
  }

  .blog_highLtxt {
    padding: 20px;
  }
  .blog_hightxt_head {
    padding-bottom: 10px;
  }

  .blog_highLtxt h2 {
    font-size: 20px;
    line-height: 30px;
    padding-right: 0;
    padding-bottom: 7px;
  }
  .blog_highLtxt p {
    font-size: 14px;
    padding-bottom: 20px;
    padding-right: 0;
  }
  .blog_highLtxt a {
    padding: 10px 24px;
  }
  /* blog highlight part end */

  /* blog part start */
  #blog {
    padding-bottom: 100px;
  }
  .blog_head {
    padding-bottom: 30px;
  }
  .blog_head h2 {
    font-size: 30px;
  }
  .blog_head a {
    padding: 16px 30px;
  }
  .blog_main_txt {
    padding-left: 16px;
  }
  .blog_main {
    padding-bottom: 40px;
  }
  .blog_main h6 {
    padding-top: 14px;
    padding-bottom: 10px;
  }
  .blog_main h3 {
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 13px;
  }
  .blog_main p {
    font-size: 14px;

    padding-bottom: 30px;
  }
  .blog_main a {
    padding: 10px 22px;
  }
  .blog_body {
    padding-bottom: 50px;
  }
  .blog_body img {
    padding-bottom: 20px;
  }
  .blog_body h6 {
    font-size: 10px;
    padding-bottom: 10px;
  }
  .blog_body h5 {
    font-size: 18px;
    padding-bottom: 7px;
  }
  .blog_body p {
    font-size: 14px;
    padding-bottom: 10px;
  }
  .blog_body a {
    font-size: 16px;
  }
  /* blog part end */

  /* subscribe part start */
  #subscribe {
    padding: 50px 0;
  }
  .subs_main h2 {
    font-size: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
  }
  .subs_main input {
    height: 40px;
    padding: 0 16px;
    font-size: 14px;
  }
  .subs_main button {
    font-size: 14px;
    padding: 0 16px;
    height: 40px;
  }
  .subs_main p {
    font-size: 14px;
    padding: 0;
  }
  /* subscribe part end */

  /* footer part start  */
  footer {
    padding: 50px 0;
  }

  .footer_body ul {
    padding-bottom: 20px;
  }
  .footer_body ul li a {
    font-size: 14px;
  }
  .circle {
    height: 30px;
    width: 30px;
    margin-bottom: 20px;
  }
  .circle a {
    font-size: 12px;
  }
  .footer_btm p {
    font-size: 16px;
  }
  /* footer part end  */
}
/* for lg devices */

/* for xl devices */
@media (min-width: 1200px) and (max-width: 1399px) {
  /* banner part start  */
  #banner {
    padding-top: 180px;
    padding-bottom: 98px;
  }
  .ban_main h1 {
    font-size: 50px;
    line-height: 60px;
  }

  /* banner part end */

  /* blog highlight part start */
  #blog_highL {
    padding-top: 150px;
    padding-bottom: 200px;
  }

  /* blog highlight part end */

  /* blog part start */
  #blog {
    padding-bottom: 100px;
  }
  .blog_head {
    padding-bottom: 50px;
  }
  .blog_head h2 {
    font-size: 35px;
  }
  .blog_main_txt {
    padding-left: 24px;
  }
  .blog_main {
    padding-bottom: 78px;
  }
  .blog_main h6 {
    padding-top: 14px;
    padding-bottom: 10px;
  }
  .blog_main h3 {
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 13px;
  }
  .blog_main p {
    font-size: 14px;
    padding-bottom: 30px;
  }
  .blog_main a {
    padding: 10px 22px;
  }
  .blog_body {
    padding-bottom: 60px;
  }

  /* blog part end */

  /* subscribe part start */
  #subscribe {
    padding: 100px 0;
  }
  .subs_main h2 {
    font-size: 40px;
    padding-bottom: 40px;
    padding-right: 50px;
  }
  .subs_main input {
    height: 50px;
    padding: 0 16px;
    font-size: 14px;
  }
  .subs_main button {
    font-size: 16px;
    padding: 0 20px;
    height: 50px;
  }
  .subs_main p {
    font-size: 16px;
  }
  /* subscribe part end */

  /* footer part start  */
  footer {
    padding: 50px 0;
  }

  .footer_body ul {
    padding-bottom: 20px;
  }
  .footer_body ul li a {
    font-size: 16px;
  }
  .circle {
    height: 40px;
    width: 40px;
    margin-bottom: 20px;
  }
  .circle a {
    font-size: 14px;
  }
  .footer_btm p {
    font-size: 16px;
  }
  /* footer part end  */
}
/* for xl devices */
